<h1> Worgroup 4 - Grupo 6 </h1>
Datos de la Comisión de la Verdad y Reconciliación

- <a href='#1.0'> 1. Etiquetas de valor y las etiquetas de las variables  </a> 
- <a href='#1.1'> 2. Filtrar la base de datos </a> 
- <a href='#2.0'> 3. Borrar duplicados IDACTO </a> 
- <a href='#2.1'> 4. Base de datos con el total de eventos de violencia, según DEPNAO </a> 
- <a href='#2.2'> 5. Base de datos con el total de eventos de violencia, según UBIDIST </a> 
- <a href='#2.3'> 6. Base de datos con el total de eventos de violencia según DEPNAO y PERIODO </a>

In [1]:
#importamos nuestras librerías
import pandas as pd
import numpy as np
import warnings
import os
import pyreadstat

import seaborn as sns
import matplotlib.pyplot as plt 
from matplotlib.lines import Line2D

warnings.filterwarnings('ignore')

ModuleNotFoundError: No module named 'pyreadstat'

In [7]:
#Cargamos la base de datos
df, meta = pyreadstat.read_sav(r"../../data/actos_est.sav")
df

,IDEVENTO,IDACTO,IDACTOR,IDTIPOAC,LDS_LDT,LDT,LRC,LSE,MAE,MAT,...,T08,T09,T10,T11,T12,T13,T14,T15,T16,T90
0,1000001,14867.0,54406.0,LDS,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000001,14867.0,54407.0,LDS,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000001,20535.0,74109.0,LDT,0.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000001,20535.0,74110.0,LDT,0.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000003,14834.0,54220.0,LDT,0.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36014,1200682,13183.0,48743.0,MAE,0.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36015,1991433,630.0,2473.0,LDT,0.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36016,1991433,632.0,2478.0,TTR,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36017,1991433,640.0,2509.0,MAE,1.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36018,1991433,644.0,2528.0,LDT,0.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## <a id='1.0'> 1. Etiquetas de valor y las etiquetas de las variables </a>

In [ ]:
#Observamos las etiquetas de valor y las etiquetas de las variables
label = {meta.column_names[i]: meta.column_labels[i] for i in range(len(meta.column_names))}
label

In [2]:
#Visualizamos las etiquetas de valor
value = meta.variable_value_labels.copy()
value

NameError: name 'meta' is not defined

## <a id='1.0'> 2. Filtrar la base de datos </a>

In [23]:
#Filtramos la base de datos según los siguientes tipos de eventos: 
#desaparición
df.query("IDTIPOAC == 'LDS'")

,IDEVENTO,IDACTO,IDACTOR,IDTIPOAC,LDS_LDT,LDT,LRC,LSE,MAE,MAT,...,T08,T09,T10,T11,T12,T13,T14,T15,T16,T90
0,1000001,14867.0,54406.0,LDS,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000001,14867.0,54407.0,LDS,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1000003,14837.0,54227.0,LDS,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1000004,14996.0,54905.0,LDS,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1000005,20885.0,75197.0,LDS,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35900,1015449,34979.0,116558.0,LDS,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35903,1015451,34968.0,116536.0,LDS,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35908,1015455,35154.0,117254.0,LDS,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35940,1015518,36997.0,123515.0,LDS,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35996,1015702,37013.0,123579.0,LDS,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
#secuestros
df.loc[df.IDTIPOAC=="LSE", :]

,IDEVENTO,IDACTO,IDACTOR,IDTIPOAC,LDS_LDT,LDT,LRC,LSE,MAE,MAT,...,T08,T09,T10,T11,T12,T13,T14,T15,T16,T90
7,1000005,14428.0,52785.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1000005,14428.0,66646.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1000005,14428.0,66647.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1000005,14428.0,66648.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1000005,14428.0,66649.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36003,1015706,37029.0,123646.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36004,1015706,37029.0,123647.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36005,1015706,37029.0,123648.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36006,1015706,37029.0,123649.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36013,1016674,35060.0,116898.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#reclutamiento forzado
df.query("IDTIPOAC == 'LRC'")

NameError: name 'df' is not defined

In [19]:
#muertes en atentados
df.loc[df.IDTIPOAC=="MAT", :]

,IDEVENTO,IDACTO,IDACTOR,IDTIPOAC,LDS_LDT,LDT,LRC,LSE,MAE,MAT,...,T08,T09,T10,T11,T12,T13,T14,T15,T16,T90
66,1000024,15289.0,56137.0,MAT,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
464,1000203,9016.0,34135.0,MAT,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
465,1000203,9016.0,34136.0,MAT,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466,1000203,9016.0,34137.0,MAT,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
605,1000291,10801.0,40500.0,MAT,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35046,1014846,35509.0,118306.0,MAT,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35047,1014846,35509.0,118307.0,MAT,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35048,1014846,35509.0,118308.0,MAT,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35049,1014846,35509.0,118309.0,MAT,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35070,1014863,34867.0,116234.0,MAT,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## <a id='1.0'> 3. Borrar duplicados IDACTO </a>

In [4]:
#Como la base de datos está a nivel individuo, construimos una nueva base datos que muestre la contabilidad agregada de los eventos.
dfh = df.groupby("IDACTO").first().reset_index()
dfh

NameError: name 'df' is not defined

## <a id='1.0'> 4. Base de datos con el total de eventos de violencia, según DEPNAO </a>

In [5]:
#¿Qué tipo de eventos de violencia hay en la base de datos?
act_violen = var_values.get('IDTIPOAC', {})
act_violen

NameError: name 'var_values' is not defined

In [27]:
#¿En que departamento se encuentran las victimas por violencia?
var_values.get('DEPNA0', {})

{1.0: 'AYACUCHO',
 2.0: 'APURÍMAC',
 3.0: 'HUANCAVELICA',
 4.0: 'CUSCO',
 5.0: 'HUÁNUCO',
 6.0: 'UCAYALI',
 7.0: 'SAN MARTÍN',
 8.0: 'PUNO',
 9.0: 'JUNÍN',
 10.0: 'LIMA - CALLAO',
 90.0: 'OTROS'}

In [36]:
act_violen_DEP = pd.pivot_table(dfh, index='DEPNA0', values=['LDS_LDT', 'LDT', 'LRC', 'LSE', 'MAE', 'MAT', 'MEF', 'TLA', 'TTR', 'TVS'], aggfunc=np.sum)
act_violen_DEP.columns = act_violen_DEP.columns.str.upper()
act_violen_DEP

        LDS_LDT     LDT   LRC    LSE     MAE   MAT   MEF    TLA     TTR    TVS
DEPNA0
1.0      1192.0  1254.0  97.0  644.0  1986.0  15.0  79.0  198.0  1031.0  126.0
2.0       148.0   329.0  31.0  131.0   280.0   2.0   7.0   24.0   386.0   32.0
3.0       181.0   254.0  24.0  106.0   368.0   7.0  10.0   43.0   242.0   35.0
4.0        31.0    93.0   4.0   24.0    74.0   0.0   4.0   11.0    85.0    7.0
5.0       528.0   503.0  57.0  355.0   810.0  14.0  41.0   51.0   496.0   36.0
6.0        48.0    54.0   2.0   25.0    33.0   3.0   4.0    4.0    37.0    2.0
7.0       128.0   125.0  12.0   69.0   196.0   8.0  13.0   23.0   122.0    6.0
8.0        36.0   105.0   5.0   42.0   133.0   6.0   5.0   19.0   141.0    3.0
9.0       248.0   262.0  30.0  218.0   486.0  10.0  16.0   41.0   223.0   22.0
10.0       80.0   242.0   6.0   39.0   121.0  10.0   4.0   29.0   170.0    7.0
90.0      158.0   602.0  15.0  122.0   369.0  16.0  22.0   71.0   542.0   30.0

In [51]:
new_index = {1.0: 'AYACUCHO',
 2.0: 'APURÍMAC',
 3.0: 'HUANCAVELICA',
 4.0: 'CUSCO',
 5.0: 'HUÁNUCO',
 6.0: 'UCAYALI',
 7.0: 'SAN MARTÍN',
 8.0: 'PUNO',
 9.0: 'JUNÍN',
 10.0: 'LIMA - CALLAO',
 90.0: 'OTROS'}
act_violencia_DEP = act_violen_DEP.rename(index=new_index)
act_violencia_DEP

,LDS_LDT,LDT,LRC,LSE,MAE,MAT,MEF,TLA,TTR,TVS
DEPNA0,,,,,,,,,,
AYACUCHO,1192.0,1254.0,97.0,644.0,1986.0,15.0,79.0,198.0,1031.0,126.0
APURÍMAC,148.0,329.0,31.0,131.0,280.0,2.0,7.0,24.0,386.0,32.0
HUANCAVELICA,181.0,254.0,24.0,106.0,368.0,7.0,10.0,43.0,242.0,35.0
CUSCO,31.0,93.0,4.0,24.0,74.0,0.0,4.0,11.0,85.0,7.0
HUÁNUCO,528.0,503.0,57.0,355.0,810.0,14.0,41.0,51.0,496.0,36.0
UCAYALI,48.0,54.0,2.0,25.0,33.0,3.0,4.0,4.0,37.0,2.0
SAN MARTÍN,128.0,125.0,12.0,69.0,196.0,8.0,13.0,23.0,122.0,6.0
PUNO,36.0,105.0,5.0,42.0,133.0,6.0,5.0,19.0,141.0,3.0
JUNÍN,248.0,262.0,30.0,218.0,486.0,10.0,16.0,41.0,223.0,22.0
LIMA - CALLAO,80.0,242.0,6.0,39.0,121.0,10.0,4.0,29.0,170.0,7.0
OTROS,158.0,602.0,15.0,122.0,369.0,16.0,22.0,71.0,542.0,30.0

## <a id='1.0'> 5. Base de datos con el total de eventos de violencia, según UBIDIST </a>

In [52]:
act_violen_UBIDIST = pd.pivot_table(dfh, index='UBIDIST', values=['LDS_LDT', 'LDT', 'LRC', 'LSE', 'MAE', 'MAT', 'MEF', 'TLA', 'TTR', 'TVS'], aggfunc=np.sum)
act_violen_UBIDIST

         LDS_LDT    LDT  LRC   LSE   MAE  MAT  MEF   TLA   TTR  TVS
UBIDIST
010201       1.0    2.0  0.0   0.0   0.0  0.0  0.0   0.0   1.0  0.0
010301       0.0    0.0  0.0   0.0   0.0  0.0  1.0   0.0   0.0  0.0
010403       0.0    0.0  0.0   0.0   1.0  0.0  0.0   0.0   0.0  0.0
010502       0.0    0.0  0.0   0.0   0.0  0.0  0.0   1.0   0.0  0.0
010509       0.0    1.0  0.0   0.0   0.0  0.0  0.0   0.0   0.0  0.0
...          ...    ...  ...   ...   ...  ...  ...   ...   ...  ...
250203       1.0    1.0  0.0   0.0   0.0  0.0  0.0   0.0   0.0  0.0
250300       1.0    1.0  0.0   1.0   1.0  0.0  0.0   0.0   1.0  0.0
250301     102.0  110.0  6.0  63.0  84.0  0.0  5.0  11.0  75.0  7.0
250302      27.0   27.0  0.0  14.0  35.0  0.0  2.0   4.0  20.0  2.0
250303       1.0    0.0  0.0   1.0   2.0  0.0  0.0   0.0   1.0  0.0

[919 rows x 10 columns]

In [ ]:
###NO ENTIENDO PORQUE EL OTRO GRUPO CALCULA LOGARITMOS###########

## <a id='1.0'> 6. Base de datos con el total de eventos de violencia según DEPNAO y PERIODO </a>

In [53]:
var_values.get('PERIODO')

{1.0: '80 - 82',
 2.0: '83 - 85',
 3.0: '86 - 88',
 4.0: '89 - 92',
 5.0: '93 - 00'}

In [54]:
act_violen_UBIDIST= pd.pivot_table(dfh, index=['DEPNA0', 'PERIODO'], values=['LDS_LDT', 'LDT', 'LRC', 'LSE', 'MAE', 'MAT', 'MEF', 'TLA', 'TTR', 'TVS'], aggfunc=np.sum)
act_violen_UBIDIST

                LDS_LDT    LDT   LRC    LSE     MAE   MAT   MEF   TLA    TTR  \
DEPNA0 PERIODO
1.0    1.0         51.0   47.0   7.0   52.0   117.0   1.0   4.0   7.0   57.0
       2.0        771.0  748.0  48.0  353.0  1030.0   2.0  28.0  90.0  513.0
       3.0        154.0  183.0  12.0   98.0   311.0   6.0  11.0  30.0  176.0
       4.0        189.0  203.0  27.0  123.0   450.0   6.0  23.0  52.0  223.0
       5.0         27.0   73.0   3.0   18.0    78.0   0.0  13.0  19.0   62.0
2.0    1.0          6.0   25.0   1.0    8.0    13.0   0.0   0.0   3.0   24.0
       2.0         30.0   51.0   3.0   26.0    38.0   0.0   0.0   2.0   56.0
       3.0         52.0  109.0  13.0   44.0    95.0   0.0   2.0  10.0  135.0
       4.0         46.0   99.0  11.0   44.0   107.0   2.0   5.0   7.0  130.0
       5.0         14.0   45.0   3.0    9.0    27.0   0.0   0.0   2.0   41.0
3.0    1.0          3.0    4.0   2.0    4.0    13.0   0.0   0.0   1.0    9.0
       2.0         53.0   82.0   9.0   33.0   106.0   0.0   3.0  13.0   83.0
       3.0         20.0   27.0   6.0   19.0    54.0   1.0   1.0   6.0   28.0
       4.0         98.0  101.0   4.0   43.0   161.0   4.0   5.0  20.0   90.0
       5.0          7.0   40.0   3.0    7.0    34.0   2.0   1.0   3.0   32.0
4.0    1.0          1.0    6.0   0.0    2.0     1.0   0.0   0.0   0.0    7.0
       2.0         11.0   16.0   1.0   10.0    15.0   0.0   1.0   2.0   14.0
       3.0          4.0    9.0   0.0    6.0    18.0   0.0   0.0   2.0   14.0
       4.0         13.0   32.0   3.0    4.0    32.0   0.0   3.0   7.0   30.0
       5.0          2.0   30.0   0.0    2.0     8.0   0.0   0.0   0.0   20.0
5.0    1.0          4.0    3.0   1.0    6.0    15.0   0.0   0.0   2.0    4.0
       2.0         49.0   55.0  11.0   27.0    95.0   0.0   3.0   6.0   48.0
       3.0         80.0   45.0  18.0   71.0   148.0   5.0   9.0   4.0   70.0
       4.0        239.0  218.0  17.0  130.0   292.0   7.0  10.0  20.0  185.0
       5.0        156.0  182.0  10.0  121.0   260.0   2.0  19.0  19.0  189.0
6.0    2.0          0.0    1.0   0.0    0.0     1.0   0.0   0.0   0.0    1.0
       3.0          3.0    4.0   1.0    2.0     4.0   1.0   0.0   0.0    4.0
       4.0         38.0   37.0   1.0   16.0    20.0   2.0   3.0   3.0   22.0
       5.0          7.0   12.0   0.0    7.0     8.0   0.0   1.0   1.0   10.0
7.0    1.0          0.0    1.0   0.0    0.0     2.0   0.0   0.0   1.0    1.0
       2.0          2.0    2.0   3.0    1.0     6.0   2.0   0.0   0.0    3.0
       3.0         25.0   17.0   2.0   15.0    23.0   2.0   1.0   1.0   11.0
       4.0         86.0   79.0   6.0   43.0   104.0   3.0   7.0  14.0   72.0
       5.0         15.0   26.0   1.0   10.0    61.0   1.0   5.0   7.0   35.0
8.0    1.0          0.0    1.0   0.0    0.0     0.0   0.0   0.0   1.0    1.0
       2.0          1.0    2.0   0.0    0.0     4.0   1.0   0.0   0.0    4.0
       3.0          4.0   12.0   1.0    6.0    12.0   1.0   1.0   5.0   18.0
       4.0         28.0   28.0   4.0   29.0    81.0   4.0   4.0   9.0   57.0
       5.0          3.0   62.0   0.0    7.0    36.0   0.0   0.0   4.0   61.0
9.0    1.0          2.0    0.0   0.0    1.0     3.0   1.0   0.0   0.0    0.0
       2.0          8.0   16.0   3.0    7.0    14.0   1.0   0.0   5.0   11.0
       3.0         21.0   17.0   7.0   28.0    45.0   0.0   3.0   4.0   17.0
       4.0        192.0  175.0  19.0  160.0   358.0   6.0   9.0  25.0  152.0
       5.0         25.0   54.0   1.0   22.0    66.0   2.0   4.0   7.0   43.0
10.0   1.0          0.0    4.0   0.0    1.0     1.0   0.0   0.0   0.0    3.0
       2.0         14.0   24.0   2.0    6.0    15.0   0.0   1.0   3.0   14.0
       3.0          5.0   14.0   1.0    6.0    21.0   1.0   1.0   6.0   16.0
       4.0         46.0   94.0   3.0   20.0    68.0   6.0   1.0  20.0   52.0
       5.0         15.0  106.0   0.0    6.0    16.0   3.0   1.0   0.0   85.0
90.0   1.0          2.0   11.0   1.0    3.0     6.0   0.0   0.0   1.0    8.0
       2.0         12.0   31.0   1.0   16.0    42.0   0.0   1.0   4.0   45.0
       3.0         14.0   32.0   2.0   11.0    55.0   3.0   3.0  10.0   24.0
       4.0         96.0  217.0   6.0   69.0   155.0  12.0  11.0  38.0  202.0
       5.0         34.0  311.0   5.0   23.0   111.0   1.0   7.0  18.0  263.0

                 TVS
DEPNA0 PERIODO
1.0    1.0       3.0
       2.0      78.0
       3.0      24.0
       4.0      16.0
       5.0       5.0
2.0    1.0       0.0
       2.0       5.0
       3.0      10.0
       4.0      14.0
       5.0       3.0
3.0    1.0       0.0
       2.0      17.0
       3.0       5.0
       4.0      12.0
       5.0       1.0
4.0    1.0       1.0
       2.0       1.0
       3.0       0.0
       4.0       4.0
       5.0       1.0
5.0    1.0       0.0
       2.0       2.0
       3.0       4.0
       4.0      14.0
       5.0      16.0
6.0    2.0       0.0
       3.0       0.0
       4.0       2.0
       5.0       0.0
7.0    1.0       0.0
       2.0       0.0
       3.0       1.0
       4.0       2.0
       5.0       3.0
8.0    1.0       1.0
       2.0       0.0
       3.0       0.0
       4.0       2.0
       5.0       0.0
9.0    1.0       0.0
       2.0       1.0
       3.0       1.0
       4.0      12.0
       5.0       8.0
10.0   1.0       0.0
       2.0       3.0
       3.0       1.0
       4.0       1.0
       5.0       2.0
90.0   1.0       1.0
       2.0       5.0
       3.0       0.0
       4.0      14.0
       5.0      10.0